.idea/
.vscode/

build/
probe/src/probe/cmake-build-debug/
probe/build/
probe/cmake-build-debug

collector/docker/kindling-collector
collector/docker/libso/libkindling.so
collector/docker/kindling-falcolib-probe.tar.gz
collector/vendor/
node_modules
dist/
.DS_Store
*.log
logs