.idea/
.vscode/

build/
probe/src/probe/cmake-build-debug/
probe/build/
probe/cmake-build-debug

collector/docker/kindling-collector
collector/docker/libso/libkindling.so
collector/docker/kindling-falcolib-probe.tar.gz

node_modules
*.log
logs