#nodeChart {
    width: 100%;
    height: 100%;
    svg {
        width: 100%;
        height: 100%;
    }

    .time_title {
        font-size: 12px;
    }
    .time_value {
        font-size: 12px;
    }
}