.light-theme {
    --body-text-color: rgba(0, 0, 0, .65);
    --home-header-bg-color: #FFFFFF;
    --home-header-box-shadow: rgba(0, 0, 0, 0.1);
    --home-bg-color: #F2F6FA;
    --default-text-color: rgba(0, 0, 0, 0.85);  // 标题色
    --header-option-text-color: rgba(0, 0, 0, .4);
    --disabled-text-color: rgba(0, 0, 0, 0.25); // 失效色
    --default-border-color: #EAEAEA;  // 标题色
    --main-body-bg-color: #FFFFFF;


    --span-a-color: #4AA3F3;
    --span-a-active-color: #4AA3F3;
    --primary-bg-color: rgba(74, 163, 243, 0.06);   // 主色作为背景
    --span-a-disable-color: rgba(0, 0, 0, 0.2);
    --a-primary-color: #4AA3F3;
    --a-primary-hover-color: #4AA3F3;
    --a-danger-color: #F5222D;
    --a-danger-hover-color: #F5222D;

    --chart-card-header-color: #f4faff;
    
}